* {margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

html,body {height: 100%;
           background-color: #d1fbff;
           overflow: hidden;}
        

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.congratulations {
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: #fdff8a;
}

.wall {
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #d1fbff;
    position: absolute;
    
}

.clear {
    clear: both;
}


section#sectionQuestionOne {
    height: 100%;
    width: 60%;
    background-color: transparent;
    text-align: center;
    position: absolute;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    z-index: 4;
    margin: 0 auto;
    border-radius: 2px 2px 0 0;
}

section#sectionQuestionTwo {
    height: 100%;
    width: 60%;
    background-color: transparent;
    text-align: center;
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    border-radius: 2px 2px 0 0;
}

section#sectionQuestionThree {
    height: 20%;
    width: 60%;
    background-color: transparent;
    text-align: center;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    border-radius: 2px 2px 0 0;
}

section#sectionQuestionFor {
    height: 20%;
    width: 60%;
    background-color: transparent;
    text-align: center;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    border-radius: 2px 2px 0 0;
}

section#sectionQuestionOne > img {
    width: 100%;
    border-radius: 2px 2px 0 0;
   
}

section#sectionQuestionTwo > img {
    width: 100%;
    border-radius: 2px 2px 0 0;
   
}

section#sectionQuestionThree > img {
    width: 100%;
    border-radius: 2px 2px 0 0;
   
}

section#sectionQuestionFor > img {
    width: 100%;
    border-radius: 2px 2px 0 0;
   
}

section#sectionQuestionOne > span {
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #329ea8;
    border-radius: 3px 3px 0 0;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    padding: 5px;
}

section#sectionQuestionTwo > span {
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #a83232;
    border-radius: 3px 3px 0 0;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    padding: 5px;
}

section#sectionQuestionThree > span {
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #a85332;
    border-radius: 3px 3px 0 0;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    padding: 5px;
}

section#sectionQuestionFor > span {
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #1a1b1c;
    border-radius: 3px 3px 0 0;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    padding: 5px;
}

div.questionsOne{
    background-color: white;
    padding: 10px;
    margin-top: -5px;
    text-align: center;
    width: 100%;
}

div.questionsOne a {
    background-color: #d9dbdb;
    width: 49%;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    margin: 2px;
    color: black;
    height: 50px;
    float: left;
    border: 1px solid grey;
}

div.questionsOne a:hover {
    background-color: #bdbfbf;
}

.congratulations h2 {
    font-size: 50px;
    position: relative;
    left: 50%;
    color: #2aa385;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.congratulations p, a {
     color: #2aa385;
     font-weight: bold;
}

.congratulations a:hover{
    color: #1d755f;
}

@media screen and (max-width: 720px) {
    html,body {
        overflow: auto;
    }
    section#sectionQuestionOne, section#sectionQuestionTwo, section#sectionQuestionThree, section#sectionQuestionFor {
        width: 100%;
    }
}